.portfolioMenu {
  margin-top: 85px;
  margin-bottom: 59px;
  width: 560px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.portfolioMenuItem {
  color: rgba(57,20,0,0.64 );
  font-size: 16px;
  cursor: pointer;
}

.activePortfolioMenuItem {
  color: rgba(22,205,83,1 );
}

.portfolioSelectDiv {
  display: flex;
  justify-content: center;
}

.portfolioSelect {
  margin: 32px 15px;
  width: 329px;
  height: 48px;
  background-color: rgba(255,255,255,1 );
  border: 1px solid rgba(243,209,191,1 );
  border-radius: 6px;
  color: rgba(57,20,0,0.64 );
  font-size: 16px;
}
