.portfolioTitleDiv {
  background-color: #28293e;
  height: 280px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.portfolioTitle {
  font-size: 72px;
  font-weight: 800;
}

.portfolioDescription {
  color: rgba(255,255,255,0.64 );
  font-size: 16px;
  line-height: 2;
  width: 650px;
  text-align: center;
}

.portfolioMenuDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolioItems {
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* максимальня ширина div для максимум 4 элементов */
  max-width: 1630px; 
}



.portfolioLoadBtn {
  margin-bottom: 184px;
  width: 170px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow:0px 3px 9px rgba(57, 20, 0, 0.08);
  padding: 18px 43px 16px;
  font-size: 14px;
  font-weight: 900;
  color: rgba(57,20,0,1);
}

.portfolioLoadBtnDeactive {
  display: none;
}


@media only screen and (max-width: 1040px) {
  .mainTitle {
    font-size: 56px;
  }

  .portfolioDescription {
    width: 370px;
  }

  .portfolioLoadBtn {
    margin-top: 48px;
    margin-bottom: 224px;
  }
}

