.ItemDiv {
  flex-shrink: 0;
  width: 370px;
  height: 416px;
  margin: 16px 15px;
  border-radius: 6px;
}

.activeItemDiv{
  /* border: 7px solid rgba(79,226,74,1 ); */
  /* box-shadow: 7px rgba(79, 226, 74, 1); */
  /* border:#FF0 dashed 1px; */
  border-radius: 6px;
  box-shadow:7px 7px 0px rgba(79, 226, 74, 1), -7px -7px 0px rgba(79, 226, 74, 1), 7px -7px 0px rgba(79, 226, 74, 1), -7px 7px 0px rgba(79, 226, 74, 1);
  /* box-shadow: inset #e20b0b -7px 26px 26px -13px, 0px 7px 0px #aa0808, 0px -7px 0px #e20b0b, 7px 0px 0px #aa0808, -7px 0px 0px #aa0808; */
}

.ItemType {
  margin-top: 256px;
  margin-left: 48px;
  height: 38px;
  padding: 14px 18px 8px 16px;
  background-color: rgba(255,255,255,1 );
  border: none;
  border-radius: 19px;
  font-size: 16px;
  color: rgba(57,20,0,1);
  cursor: pointer;
}

.ItemTitle{
  font-weight: 800;
  font-size: 40px;
  color: rgba(255,255,255,1 );
  margin: 28px 48px 54px;
}

@media only screen and (max-width: 1040px) {
  .ItemDiv {
    width: 329px;
  }

  .ItemType {
    margin-left: 28px;
  }

  .ItemTitle{
    margin-left: 28px;
  }
}
